<div class="form_item_block">
  <label>Material Type:<span class="arterisk">*</span></label>
  <select ng-model="MaterialType" ng-init="MaterialType = MaterialType || 'Package'" ng-change="clearFields()">
    <option value="Package">Package</option>
    <option value="Pipeline">Pipeline</option>
    <option value="Stage">Stage</option>
  </select>
</div>

<!-- Package fields -->
<div class="form_item_block" ng-show="MaterialType == 'Package'">
  <label>Repository name:<span class="asterisk">*</span></label>
  <input type="text" ng-model="PackageRepo" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[PackageRepo].$error.server">{{ GOINPUTNAME[PackageRepo].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="MaterialType == 'Package'">
  <label>Package name:<span class="asterisk">*</span></label>
  <input type="text" ng-model="PackageName" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[PackageName].$error.server">{{ GOINPUTNAME[PackageName].$error.server }}</span>
</div>

<!-- Pipeline fields -->
<div class="form_item_block" ng-show="MaterialType == 'Pipeline'">
  <label>Material Name:<span class="asterisk">*</span></label>
  <input type="text" ng-model="PipelineMaterial" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[PipelineMaterial].$error.server">{{ GOINPUTNAME[PipelineMaterial].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="MaterialType == 'Pipeline'">
  <label>Job:<span class="asterisk">*</span></label>
  <input type="text" ng-model="PipelineJob" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[PipelineJob].$error.server">{{ GOINPUTNAME[PipelineJob].$error.server }}</span>
</div>

<!-- Stage fields -->
<div class="form_item_block" ng-show="MaterialType == 'Stage' && !StageSourcePrefix">
  <label>Stage Name:<span class="asterisk">*</span></label>
  <input id="StageName" type="text" ng-model="StageName" ng-required="!StageSourcePrefix">
  <span class="form_error" ng-show="GOINPUTNAME[StageName].$error.server">{{ GOINPUTNAME[StageName].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="MaterialType == 'Stage' && !StageSourcePrefix">
  <label>Job Name:<span class="asterisk">*</span></label>
  <input id="StageJob" type="text" ng-model="StageJob" ng-required="!StageSourcePrefix">
  <span class="form_error" ng-show="GOINPUTNAME[StageJob].$error.server">{{ GOINPUTNAME[StageJob].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="MaterialType == 'Stage'">
  <label>Source:<span class="asterisk">*</span></label>
  <input if="StageSource" type="text" ng-model="StageSource" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[StageSource].$error.server">{{ GOINPUTNAME[StageSource].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="MaterialType == 'Stage'">
  <label for="StageSourcePrefix">Source Prefix</label>
  <input id="StageSourcePrefix" type="text" ng-model="StageSourcePrefix" ng-change="sourcePrefixChanged()"/>
  <span class="form_error" ng-show="GOINPUTNAME[StageSourcePrefix].$error.server">{{ GOINPUTNAME[StageSourcePrefix].$error.server }}</span>
</div>
<div class="form_item_block" ng-show="MaterialType == 'Stage'">
    <p>
        <span ng-show="StageSourcePrefix">Your artifact sources will be prefixed with {{StageSourcePrefix}}</span>
        <span ng-show="!StageSourcePrefix">Your artifact sources will be prefixed with {{StagePipeline}}/{{StageName}}/{{StageJob}}/{{StagePipeline}}Counter.{{StageName}}Counter</span>
    </p>
</div>

<!-- Common Fields -->
<div class="form_item_block">
  <label>Destination directory:</label>
  <input type="text" ng-model="Destination">
  <span class="form_error" ng-show="GOINPUTNAME[Destination].$error.server">{{ GOINPUTNAME[Destination].$error.server }}</span>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var interval = setInterval(function(){
            try {
                var $scope = angular.element(document.getElementById("task_angular_pluggable_task_indix_s3fetch")).scope();
                $scope.$apply(function() {

                    $scope.clearStagePipelineFields = function() {
                        this.StageName = null;
                        this.StageJob = null;
                    }

                    $scope.clearFields = function() {
                        this.PackageRepo = null;
                        this.PackageName = null;

                        this.PipelineMaterial = null;
                        this.PipelineJob = null;

                        this.clearStagePipelineFields();
                        this.StageSource = null;
                        this.StageSourcePrefix = null;
                    };

                    $scope.sourcePrefixChanged = function() {
                        if (this.StageSourcePrefix && this.StageSourcePrefix.length > 0) {
                            this.clearStagePipelineFields();
                        } else {
                            this.StageSourcePrefix = null;
                        }
                    }
                });

                clearInterval(interval);
            }
            catch(e) {
            }
        }, 50);
    });
</script>
